weight = (input("enter your weight"))
unit = (input("(k)g or (l)bs?"))
if unit.upper()== "K":
    weightnew = float(weight)
elif unit.upper()== "L" :
    weightnew = float(weight) * 0.453592
height = (input("enter your height"))
unit = (input("inches(i) or centemeters(cm)?"))
if unit.upper()== "I" :
    heightnew= float(height) * 0.0254
elif unit.upper()== "CM":
    heightnew=  float(height) * 0.01
else :
    print("please enter in inches(i) or centemeters(cm)")
heightsq = float(heightnew) ** 2
BMI = weightnew / heightsq
print("your BMI is" + " " + str(BMI))


