weight = (input("enter your weight"))
unit = (input("(k)g or (l)bs?"))
if unit.upper()== "K":
    weightnew = float(weight)
elif unit.upper()== "L" :
    weightnew = float(weight) * 0.453592
height = (input("enter your height"))
unit = (input("inches(i) or centemeters(cm)?"))
if unit.upper()== "I" :
    heightnew= float(height) * 0.0254
elif unit.upper()== "CM":
    heightnew=  float(height) * 0.01
else :
    print("please enter in inches(i) or centemeters(cm)")
heightsq = float(heightnew) ** 2
BMI = weightnew / heightsq
print("your BMI is" + " " + str(BMI))
if BMI < 18.5 :
    print("You are severely underweight. take adequate amount of food")
elif BMI < 25 :
    print("cheers! You are in good health")
elif BMI < 30 :
    print("your being overweight.maintain healthy lifestyle")
elif BMI < 35 :
    print(" first stage of obesity. take selective food, do exercises")
elif BMI < 40 :
    print("second stage of obesity.take selective food, do exercises ")
else :
    print("Extreme obesity, death risk. Cosult a doctor")

